1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var1=78
print(var1)

78


2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(var1))

<class 'int'>


4) Crear una variable que contenga tu nombre

In [9]:
nombre=('Eduardo'+' '+'Perez')
print(nombre)
nom='Eduardo Perez'
print(nom)

Eduardo Perez
Eduardo Perez


5) Crear una variable que contenga un número complejo

In [10]:
complejo=8j
type(complejo)

complex


6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(type(complejo))

<class 'complex'>


7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
pi=3.1416
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
chartrue=('True')
booltrue=(True)

<class 'str'>
<class 'bool'>


9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [ ]:
print(type(chartrue))
print(type(booltrue))


10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma=(8+0.5)
print(suma)

8.5

11) Realizar una operación de suma de números complejos

In [20]:
sumacompleja=5j+9j
print(sumacompleja)

14j

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
sumacompleja1=10+9j
print(sumacompleja1)

(10+9j)

13) Realizar una operación de multiplicación

In [ ]:
8*20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
divi=(27/4)
print(divi)

6.75


16) De la división anterior solamente mostrar la parte entera

In [25]:
diventera=(27//4)
print(diventera)

6


17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
resto=(27%4)
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [27]:
resul=(diventera*4+resto)
print(resul)

27


19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
alfanum=(5+'5')
print(alfanum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso? Porque '2' es character y 2 es numerico entero

In [29]:
2=='2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
str(2)=='2'

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
R. porque usa coma en vez de punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [40]:
tres=3
tres -= 2
#opera sobre sì mismo, no para meterlo a una nueva variable
print (tres)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
Desplaza el 1 que està en 2^0 dos posiciones, de manera que se encuentra ahora donde esta 2^2

In [41]:
bool2=1<<2
print(bool2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
Porque son de diferente tipo. Si ambos son int sumara, si ambas son str va a concatenar

In [44]:
'2'+'2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [50]:
unatres=('uno','dos','tres')
pi=3
hoy='lunes'
operacion=unatres*pi,hoy*pi
print(operacion)

(('uno', 'dos', 'tres', 'uno', 'dos', 'tres', 'uno', 'dos', 'tres'), 'lunesluneslunes')